anton-maker.ru {
    reverse_proxy web:8000
    
    # Раздача статики напрямую через Caddy (быстрее)
    handle /static/* {
        root * /app/data/static
        file_server
    }
    handle /media/* {
        root * /app/data/media
        file_server
    }
    
    # Логирование
    log {
        output file /var/log/caddy/access.log
    }
}

# Локальный доступ без домена (для тестов)
:80 {
    reverse_proxy web:8000
}
