# Django Security
SECRET_KEY=django-insecure-change-this-to-a-50-char-random-string
DEBUG=False
ALLOWED_HOSTS=anton-maker.ru,www.anton-maker.ru,localhost,127.0.0.1

# VK Integration
VK_APP_ID=12345678
VK_TOKEN=your_vk_service_token
VK_CONFIRMATION_CODE=your_confirmation_code_from_vk
ADMIN_VK_ID=123456789

# Site URL
SITE_URL=https://anton-maker.ru
